
/txt2tags.pyw
/tech-structure.aux
/tech-structure.bbl
/tech-structure.blg
/tech-structure.log
/tech-structure.out
/tech-structure.out.bak
/tech-structure.pdf
/tech-structure.synctex
/tech-structure.tex
/tech-structure.toc